:root {
  --primary-font-family: "DM Sans";
  --secondary-font-family: "Arial, Helvetica, sans-serif";
  --light-fw: 300;
  --regular-fw: 400;
  --medium-fw: 500;
  --bold-fw: 700;
}

:root {
  --primary-clr: #f83142;
  --primary-accent-clr: #ec5865;
  --primary-shadow-clr: rgb(204 0 0 / 35%);
  --primary-shadow-clr-2: rgb(204 0 0 / 15%);
  --secondary-clr: #2951d5;
  --secondary-accent-clr: #506bc2;
  --tertiary-clr: #1e2029;
  --tetriary-accent-clr: rgba(30, 32, 41, 0.3);
  --main-clr: #fff;
  --sub-clr: #212529;
  --accent-clr: #dedcdc;
  --extra-accent-clr: #cccaca;
  --dark-accent-clr: #d1d1d1;
  --extra-dark-accent-clr: #bdbbbb;
  --black-accent-clr: #bdbbbb;
  --light-clr: #f2f0f0;
  --dull-clr: #605b69;
  --dull-sub-clr: #c7c7c7;
  --dull-accent-clr: #c7c7c7;
  --sable-clr: #000;
  --gray-clr: #999;
  --darky-clr: #1c1c1c;
  --lightgray-clr: #F3F4F6;
  --primary-gradient: linear-gradient(90deg, var(--primary-clr), var(--primary-clr) 20%, var(--primary-accent-clr) 80%, var(--primary-accent-clr));
  --secondary-gradient: linear-gradient(90deg, var(--secondary-clr), var(--secondary-clr) 20%, var(--secondary-accent-clr) 80%, var(--secondary-accent-clr));
}

.blog-block {
  padding: 4rem 0;
}
.blog-block__title {
  font-weight: var(--regular-fw);
}
@media (max-width: 1023px) {
  .blog-block__title {
    font-size: 2.5rem;
  }
}
.blog-block__info {
  display: flex;
  justify-content: space-between;
  color: var(--gray-clr);
  font-size: 0.8rem;
  margin: 1rem 0;
}
.blog-block__item {
  display: block;
  margin-bottom: 2rem;
  transition: 0.25s all ease-in-out;
}
.blog-block__item:hover, .blog-block__item:focus {
  transform: translateY(-5px);
}
.blog-block__item:hover .blog-block__item-title, .blog-block__item:focus .blog-block__item-title {
  color: var(--primary-clr);
}
.blog-block__item-title {
  font-size: 1.125rem;
  line-height: 1.3;
  max-width: 100%;
}

.footer-form {
  padding-bottom: 11rem;
  margin: 0;
  overflow: hidden;
}
.footer-form__container {
  position: relative;
}
@media (max-width: 1300px) {
  .footer-form {
    padding-bottom: 6vw;
  }
}
.footer-form__title {
  font-size: 1.85rem;
  max-width: 850px;
  margin-top: 0rem;
  line-height: 1.5;
  position: relative;
  font-weight: var(--regular-fw);
}
.footer-form__title::before {
  content: "";
  position: absolute;
  display: block;
  left: -3rem;
  top: 0;
  width: 3px;
  height: 100%;
  background-color: var(--primary-clr);
}
.footer-form__title > em {
  padding: 0 2rem;
}
@media (max-width: 767px) {
  .footer-form__title {
    max-width: 940px;
    font-size: 1.5rem;
    line-height: 1.2;
  }
}
.footer-form__des {
  margin-top: 3.2rem;
  font-size: 1.25rem;
  line-height: 1.4;
}
@media (max-width: 767px) {
  .footer-form__des {
    margin-top: 0;
    font-size: 1rem;
  }
}
@media (max-width: 500px) {
  .footer-form__des {
    margin-bottom: 1.5rem;
  }
}
.footer-form__cycle {
  right: 55rem;
  top: 17rem;
}
@media (max-width: 1300px) {
  .footer-form__cycle {
    right: 48rem;
  }
}
@media (max-width: 1150px) {
  .footer-form__cycle {
    right: 43rem;
  }
}
@media (max-width: 1023px) {
  .footer-form__cycle {
    right: 37rem;
    top: initial;
    width: 60vw;
    bottom: -4rem;
  }
}
@media (max-width: 767px) {
  .footer-form__cycle {
    display: none;
  }
}
.footer-form__star {
  right: -4.1rem;
  top: 1rem;
}
@media (max-width: 500px) {
  .footer-form__star {
    right: -4.1rem;
    top: 15rem;
  }
}
.footer-form__form {
  margin: 0 0 0 auto;
  background-color: #fdfdfd;
  max-width: 500px;
  padding: 2.4rem 3.2rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  z-index: 2;
  position: relative;
}
.footer-form__form::before {
  content: "";
  position: absolute;
  left: -4.8rem;
  top: 4.5rem;
  display: block;
  background-image: url(../../img/elements/arrow2.webp);
  width: 69px;
  height: 38px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}
@media (max-width: 1400px) {
  .footer-form__form {
    max-width: 400px;
    padding: 2.5rem;
  }
}
@media (max-width: 767px) {
  .footer-form__form {
    padding: 1.5rem 1.5rem;
  }
}
@media (max-width: 500px) {
  .footer-form__form {
    margin: 0 auto;
    max-width: 320px;
  }
}
.footer-form__catalog {
  left: -28rem;
  top: 8rem;
}
@media (max-width: 1400px) {
  .footer-form__catalog {
    left: -30vw;
    top: 8rem;
    width: 40vw;
  }
}
@media (max-width: 1300px) {
  .footer-form__catalog {
    left: -27rem;
  }
}
@media (max-width: 1150px) {
  .footer-form__catalog {
    left: -22rem;
  }
}
@media (max-width: 1023px) {
  .footer-form__catalog {
    left: -30vw;
    top: initial;
    width: 40vw;
    bottom: -3rem;
  }
}
@media (max-width: 767px) {
  .footer-form__catalog {
    left: initial;
    top: initial;
    width: 60vw;
    bottom: -4rem;
    max-width: 50vw !important;
    right: 80%;
  }
}
.footer-form__head {
  font-size: 1.6rem;
  margin: 0rem 0 2rem;
  text-align: center;
  line-height: 1.3;
  font-weight: var(--bold-fw);
}
@media (max-width: 767px) {
  .footer-form__head {
    font-size: 1.25rem;
  }
}
.footer-form__send {
  max-width: 270px;
  margin: auto;
}

/*# sourceMappingURL=blog.css.map */
