:root {
  --primary-font-family: "DM Sans";
  --secondary-font-family: "Arial, Helvetica, sans-serif";
  --light-fw: 300;
  --regular-fw: 400;
  --medium-fw: 500;
  --bold-fw: 700;
}

:root {
  --primary-clr: #f83142;
  --primary-accent-clr: #ec5865;
  --primary-shadow-clr: rgb(204 0 0 / 35%);
  --primary-shadow-clr-2: rgb(204 0 0 / 15%);
  --secondary-clr: #2951d5;
  --secondary-accent-clr: #506bc2;
  --tertiary-clr: #1e2029;
  --tetriary-accent-clr: rgba(30, 32, 41, 0.3);
  --main-clr: #fff;
  --sub-clr: #212529;
  --accent-clr: #dedcdc;
  --extra-accent-clr: #cccaca;
  --dark-accent-clr: #d1d1d1;
  --extra-dark-accent-clr: #bdbbbb;
  --black-accent-clr: #bdbbbb;
  --light-clr: #f2f0f0;
  --dull-clr: #605b69;
  --dull-sub-clr: #c7c7c7;
  --dull-accent-clr: #c7c7c7;
  --sable-clr: #000;
  --gray-clr: #999;
  --darky-clr: #1c1c1c;
  --lightgray-clr: #F3F4F6;
  --primary-gradient: linear-gradient(90deg, var(--primary-clr), var(--primary-clr) 20%, var(--primary-accent-clr) 80%, var(--primary-accent-clr));
  --secondary-gradient: linear-gradient(90deg, var(--secondary-clr), var(--secondary-clr) 20%, var(--secondary-accent-clr) 80%, var(--secondary-accent-clr));
}

.main-slider {
  position: relative;
  z-index: 1;
}
.main-slider__real {
  position: relative;
}
.main-slider__bg {
  bottom: -3rem;
  right: 1rem;
  z-index: -1;
}
@media (max-width: 767px) {
  .main-slider__column {
    display: block;
  }
}
@media (min-width: 767px) {
  .main-slider__first-side {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
    line-height: 1.2;
  }
}
@media (max-width: 1023px) {
  .main-slider__first-side {
    align-self: center;
  }
}
@media (max-width: 767px) {
  .main-slider__first-side {
    align-self: initial;
    max-width: 350px;
    margin: 0 auto;
    padding: 0;
  }
}
@media (max-width: 500px) {
  .main-slider__first-side {
    width: 250px;
  }
}
@media (min-width: 767px) {
  .main-slider__second-side {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
}
.main-slider__section {
  padding-left: 3.5rem;
}
@media (max-width: 1400px) {
  .main-slider__section {
    padding-left: 1.4rem;
  }
}
@media (max-width: 767px) {
  .main-slider__section {
    padding-left: 3rem;
  }
}
@media (max-width: 500px) {
  .main-slider em {
    background: transparent;
    color: var(--primary-accent-clr);
    margin: 0;
    padding: 0;
  }
}
.main-slider__btn {
  margin: 1rem 0 0 1.5rem;
}
@media (max-width: 1400px) {
  .main-slider__btn {
    margin-left: 1.3rem !important;
  }
}
.main-slider__top-title {
  margin: 0;
  font-size: 1.25rem;
}
@media (max-width: 767px) {
  .main-slider__top-title {
    font-size: 1rem;
  }
}
.main-slider__control {
  display: flex;
  align-items: center;
  position: absolute;
  left: calc(10% - 1rem);
  bottom: 2rem;
  z-index: 2;
  font-weight: var(--bold-fw);
}
@media (max-width: 767px) {
  .main-slider__control {
    left: 5rem;
    bottom: 4rem;
  }
}
.main-slider__range {
  width: 72px;
  height: 10px;
  position: relative;
  background-color: var(--main-clr);
  margin: -2px 8px 0;
}
.main-slider__range-fill {
  display: block;
  position: absolute;
  background: var(--primary-gradient);
  height: 100%;
}
.main-slider__next {
  background: url(../../img/elements/arrow-scroll.webp);
  transform: rotate(180deg);
  border: 0;
  width: 30px;
  background-size: cover;
  height: 15px;
  position: absolute;
  top: 3px;
  right: -2.5rem;
  cursor: pointer;
}

.gallery {
  overflow: hidden;
  position: relative;
}
.gallery .container {
  position: relative;
}
.gallery__btns {
  margin-bottom: 1rem;
  justify-content: center;
}
.gallery.active .gallery__content {
  opacity: 0;
  visibility: hidden;
}
.gallery.active .gallery__content-second {
  opacity: 1;
  visibility: visible;
}
.gallery.active .gallery__btn:nth-child(1) {
  --btn-gradient-bc: var(--main-clr);
  --btn-gradient-content-clr: unset;
}
.gallery.active .gallery__btn:nth-child(1):hover, .gallery.active .gallery__btn:nth-child(1):focus {
  --btn-gradient-bc: var(--primary-gradient);
  --btn-gradient-content-clr: var(--main-clr);
}
.gallery.active .gallery__btn:nth-child(2) {
  --btn-gradient-bc: var(--primary-gradient);
  --btn-gradient-content-clr: var(--main-clr);
}
.gallery__content {
  display: grid;
  grid-template-areas: "el-1 el-1 el-2 el-2 el-3 el-4 el-4" "el-1 el-1 el-5 el-6 el-6 el-4 el-4" "el-7 el-8 el-8 el-6 el-6 el-9 el-10" "el-11 el-8 el-8 el-12 el-13 el-13 el-10" "el-11 el-14 el-15 el-15 el-13 el-13 el-16";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  opacity: 1;
  visibility: visible;
  transition: 0.25s all ease-in-out;
}
.gallery__content-second {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
}
.gallery__item:nth-child(1) {
  grid-area: el-1;
}
.gallery__item:nth-child(2) {
  grid-area: el-2;
}
.gallery__item:nth-child(3) {
  grid-area: el-3;
}
.gallery__item:nth-child(4) {
  grid-area: el-4;
}
.gallery__item:nth-child(5) {
  grid-area: el-5;
}
.gallery__item:nth-child(6) {
  grid-area: el-6;
}
.gallery__item:nth-child(7) {
  grid-area: el-7;
}
.gallery__item:nth-child(8) {
  grid-area: el-8;
}
.gallery__item:nth-child(9) {
  grid-area: el-9;
}
.gallery__item:nth-child(10) {
  grid-area: el-10;
}
.gallery__item:nth-child(11) {
  grid-area: el-11;
}
.gallery__item:nth-child(12) {
  grid-area: el-12;
}
.gallery__item:nth-child(13) {
  grid-area: el-13;
}
.gallery__item:nth-child(14) {
  grid-area: el-14;
}
.gallery__item:nth-child(15) {
  grid-area: el-15;
}
.gallery__item:nth-child(16) {
  grid-area: el-16;
}
.gallery__item {
  --item-padding: .5rem;
  min-width: 260px;
  min-height: 260px;
  padding: var(--item-padding);
  position: relative;
  height: 100%;
}
@media (max-width: 1820px) {
  .gallery__item {
    min-width: 14.2857142857vw;
    min-height: max(20vh, 14.2857142857vw);
  }
}
@media (max-width: 767px) {
  .gallery__item {
    --item-padding: .1rem;
  }
}
.gallery__item::before, .gallery__item::after {
  position: absolute;
  content: "";
  display: block;
}
@media (max-width: 767px) {
  .gallery__item::before, .gallery__item::after {
    display: none;
  }
}
.gallery__item::before {
  background-color: var(--sable-clr);
  left: var(--item-padding);
  top: var(--item-padding);
  right: var(--item-padding);
  bottom: var(--item-padding);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.25s all ease-in-out;
}
.gallery__item::after {
  background: url(../../img/elements/zoom.webp) no-repeat top;
  top: 50%;
  left: 50%;
  width: calc(100% - var(--item-padding));
  padding-top: 3rem;
  color: var(--main-clr);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.25s all ease-in-out;
}
.gallery__item:hover::before {
  opacity: 0.5;
  visibility: visible;
}
.gallery__item:hover::after {
  opacity: 1;
  visibility: visible;
}
.gallery__link {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.gallery__img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
}
.gallery__btn {
  margin: 0 0.1rem;
}
.gallery__btn::after {
  left: 3px;
  top: 3px;
  --btn-border-width: 6px;
  --btn-border-height: 6px;
  border-radius: 5px !important;
}
.gallery__btn:nth-child(1) {
  --btn-gradient-bc: var(--primary-gradient);
  --btn-gradient-content-clr: var(--main-clr);
}
.gallery__title {
  text-align: center;
}
@media (max-width: 767px) {
  .gallery__title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

.page-gallery {
  margin: -3rem 0 3rem;
}

.achives {
  margin-top: 4.5rem;
}
@media (max-width: 1535px) {
  .achives {
    margin-top: 0;
  }
}
.achives__item {
  transition: 0.25s all ease-in-out;
}
.achives__item:hover {
  color: var(--primary-clr);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}
.achives__wrap {
  width: 100%;
  text-align: center;
  padding: 1rem;
}
.achives__wrap > * {
  margin: 0;
}
@media (max-width: 767px) {
  .achives__wrap {
    padding: 0.5rem;
  }
}
.achives__des {
  line-height: 1.2;
}
@media (max-width: 767px) {
  .achives__des {
    font-size: 0.9rem;
  }
}
.achives__icon {
  height: 73px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  margin: 0.1rem 0 1.1rem;
  text-align: center;
}
.achives__img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.description {
  padding-top: 9.8rem;
  padding-bottom: 10rem;
  position: relative;
}
@media (max-width: 767px) {
  .description {
    padding-top: 3.5rem;
    padding-bottom: 2rem;
  }
}
.description__container {
  position: relative;
}
.description__arrow {
  z-index: -1;
}
.description__arrow-img {
  left: 0;
  top: 15.9rem;
}
@media (max-width: 1535px) {
  .description__arrow-img {
    top: 25.9rem;
  }
}
.description__side {
  padding: 0 1rem;
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 500px) {
  .description__side {
    flex: 0 0 75%;
    max-width: 75%;
  }
}
@media (min-width: 1023px) {
  .description__side {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
}
@media (max-width: 767px) {
  .description__des {
    font-size: 1rem;
  }
}
@media (max-width: 500px) {
  .description__des {
    margin-left: 5rem;
  }
}
.description__about {
  font-size: 1.125rem;
  line-height: 1.4;
  max-width: 100%;
}
.description__img {
  z-index: -1;
}
.description .dog-img {
  right: 10.5rem;
  top: -5.7rem;
}
@media (max-width: 1150px) {
  .description .dog-img {
    right: 5.5rem;
    top: -3.7rem;
  }
}
@media (max-width: 1023px) {
  .description .dog-img {
    right: initial;
    top: initial;
    width: 300px;
    bottom: -2rem;
    left: 58%;
    z-index: 1;
  }
}
@media (max-width: 767px) {
  .description .dog-img {
    width: 260px;
    left: calc(75% - 8rem);
  }
}
@media (max-width: 500px) {
  .description .dog-img {
    right: initial;
    top: initial;
    width: 260px;
    bottom: -2rem;
    left: -12rem;
  }
}
.description .dog {
  position: absolute;
  background: #fdfdfd;
  width: 33rem;
  height: 36rem;
  right: 5rem;
  top: -6rem;
  overflow: hidden;
  z-index: -1;
}
.description .dog::before, .description .dog::after {
  content: "";
  position: absolute;
  display: block;
  background-color: #f5f5f5;
  z-index: 1;
}
.description .dog::before {
  width: 6rem;
  height: 21rem;
  -webkit-transform: rotate(46deg);
  -ms-transform: rotate(46deg);
  transform: rotate(46deg);
  left: 2.4rem;
  top: -5.5rem;
}
.description .dog::after {
  bottom: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  border-top: 1.5rem solid #f5f5f5;
  border-left: 1.5rem solid #f5f5f5;
  border-right: 1.5rem solid #fdfdfd;
  border-bottom: 1.5rem solid #fdfdfd;
}
.description .dots2 {
  right: 2.8rem;
  top: -8.1rem;
}
@media (max-width: 500px) {
  .description__btn {
    margin-left: 5rem;
  }
}
.description .title h3 {
  font-size: 1.9rem;
}
@media (max-width: 767px) {
  .description .title h3 {
    font-size: var(--semiMedium-fz) !important;
    line-height: 1.2;
    display: block;
    margin-bottom: 1.5rem !important;
  }
}

.ezkiz {
  margin-top: 5.8rem;
  margin-bottom: 6rem;
  position: relative;
}
@media (max-width: 1535px) {
  .ezkiz {
    margin-bottom: 4rem;
  }
}
@media (max-width: 1400px) {
  .ezkiz {
    margin-top: 0;
  }
}
@media (max-width: 500px) {
  .ezkiz {
    overflow: hidden;
  }
}
.ezkiz__wrap {
  width: 100%;
  margin: auto;
  max-width: 1710px;
  background: #ededed;
  padding: 3.5rem 5rem 1.7rem 46.8%;
}
@media (max-width: 1023px) {
  .ezkiz__wrap {
    padding: 3.5rem 5rem 1.7rem 25%;
  }
}
@media (max-width: 500px) {
  .ezkiz__wrap {
    padding: 2.5rem 2rem 1.7rem 2rem;
  }
}
.ezkiz__title {
  position: relative;
}
@media (max-width: 767px) {
  .ezkiz__title {
    line-height: 1.2;
  }
}
.ezkiz__des {
  font-size: var(--semiMedium-fz);
}
@media (max-width: 767px) {
  .ezkiz__des {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
}
.ezkiz__btn {
  margin-top: 2.4rem;
}
@media (max-width: 767px) {
  .ezkiz__btn {
    margin-top: 1rem;
  }
}
.ezkiz__img {
  z-index: 2;
}
.ezkiz__buklet {
  left: unset;
  top: -2.5rem;
  filter: drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.3));
  right: 57%;
}
@media (max-width: 1023px) {
  .ezkiz__buklet {
    left: unset;
    top: 6.5rem;
    right: 73%;
    width: 38vw;
    transform: rotate(-55deg);
  }
}
@media (max-width: 500px) {
  .ezkiz__buklet {
    display: none;
  }
}
.ezkiz__treel {
  right: 6rem;
  bottom: 0;
}
@media (max-width: 1400px) {
  .ezkiz__treel {
    right: 0;
    bottom: 0;
  }
}
@media (max-width: 767px) {
  .ezkiz__treel {
    width: 80px;
  }
}
@media (max-width: 500px) {
  .ezkiz__treel {
    right: -2rem;
  }
}
.ezkiz__bottom {
  font-size: var(--extraRegular-fz);
  margin-top: 2rem;
  padding-top: 2.3rem;
  position: relative;
  display: flex;
  max-width: 490px;
  line-height: 1.4;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .ezkiz__bottom {
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    font-size: 1rem;
    line-height: 1.2;
  }
}
.ezkiz__bottom::before, .ezkiz__bottom::after {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% + 2rem);
  top: 0;
  left: 0;
  z-index: 1;
}
.ezkiz__bottom::after {
  height: 2px;
  background: linear-gradient(90deg, rgba(234, 234, 234, 0), #ededed);
}
.ezkiz__bottom::before {
  border-top: 2px dotted #2b2b2b;
}
.ezkiz__p {
  font-size: 2.8rem;
  display: block;
  margin-right: 1rem;
  font-weight: var(--bold-fw);
}
@media (max-width: 767px) {
  .ezkiz__p {
    font-size: var(--bold-fz);
    font-weight: bold;
    margin-right: 0.5rem;
    line-height: 1.2;
  }
}
@media (max-width: 767px) {
  .ezkiz .title h3 {
    font-size: var(--medium-fz);
  }
}

.ex {
  line-height: 1.2;
  margin-top: 6.6rem;
}
@media (max-width: 1400px) {
  .ex {
    margin-top: 4.5rem;
  }
}
.ex__item {
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.ex__text {
  padding-left: 5.3rem;
  position: relative;
}
@media (max-width: 767px) {
  .ex__text {
    padding-left: 0;
  }
}
@media (max-width: 500px) {
  .ex__text {
    height: auto !important;
  }
}
.ex__text::before {
  content: "";
  position: absolute;
  display: block;
  left: 2.3rem;
  top: 1rem;
  width: 2.5rem;
  height: 3px;
  background: var(--primary-gradient);
}
@media (max-width: 767px) {
  .ex__text::before {
    display: none;
  }
}
.ex__des {
  margin: 1rem 0;
}
.ex__img {
  margin-top: 1.8rem;
}
.ex__img-block {
  text-align: center;
}
@media (max-width: 500px) {
  .ex__img {
    margin-top: 0;
  }
}
.ex__btn-wrap {
  margin: 0;
  text-align: center;
  margin-top: 2.7rem;
}
@media (max-width: 500px) {
  .ex__btn-wrap {
    margin: 1.5rem auto 2rem;
  }
}
.ex__title {
  font-size: 1.9rem;
}
@media (max-width: 1400px) {
  .ex__title {
    font-size: 1.5rem;
  }
}
@media (max-width: 767px) {
  .ex__title {
    font-size: 1.125rem;
    line-height: 1.2;
  }
}

.steps {
  margin-top: 9.3rem;
  position: relative;
}
@media (max-width: 1150px) {
  .steps {
    margin-top: 7rem;
  }
}
@media (max-width: 500px) {
  .steps {
    margin-top: 2rem;
  }
}
.steps__text {
  display: flex;
  flex-wrap: wrap;
  max-width: 810px;
}
.steps__title {
  margin-bottom: 2.8rem;
  font-weight: var(--regular-fw);
}
@media (max-width: 767px) {
  .steps__title {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }
}
.steps__color {
  font-weight: var(--bold-fw);
}
.steps__des {
  display: inline-block;
  font-size: 1.25rem;
  position: relative;
  line-height: 1.2;
}
@media (max-width: 767px) {
  .steps__des {
    font-size: 1rem;
  }
}
@media (max-width: 500px) {
  .steps__des {
    display: block;
    margin-top: 1rem;
  }
}
.steps__des:nth-child(2) {
  width: 60%;
}
.steps__des:nth-child(2)::before {
  content: "";
  position: absolute;
  left: -0.7rem;
  top: 0;
  display: block;
  width: 2px;
  height: 100%;
  background: var(--primary-clr);
}
.steps__des:nth-child(3) {
  width: 40%;
}
@media (max-width: 500px) {
  .steps__des:nth-child(2), .steps__des:nth-child(3) {
    width: 100%;
  }
}
.steps__list {
  margin-top: 6.7rem;
}
@media (max-width: 1150px) {
  .steps__list {
    margin-top: 3rem;
  }
}
@media (max-width: 767px) {
  .steps__list {
    margin-top: 1rem;
  }
}
.steps__item:nth-child(2) {
  position: relative;
}
.steps__item:nth-child(2)::before, .steps__item:nth-child(2)::after {
  content: "";
  position: absolute;
  left: 0;
  top: 4rem;
  display: block;
  width: 1px;
  height: 5rem;
  background-color: var(--primary-clr);
}
@media (max-width: 767px) {
  .steps__item:nth-child(2)::before, .steps__item:nth-child(2)::after {
    display: none;
  }
}
.steps__item:nth-child(2)::after {
  left: unset !important;
  right: 0;
}
.steps__step {
  text-align: center;
  position: relative;
}
.steps .num-step {
  position: absolute;
  font-size: 8rem;
  font-weight: bold;
  top: -3rem;
  left: 50%;
  transform: translateX(-146%);
  opacity: 0.1;
}
.steps__float-img {
  z-index: -2;
}
.steps .step-line1 {
  top: 27rem;
}
.steps .step-line2 {
  right: 0;
  top: -8.8rem;
}
.steps__bg {
  text-transform: uppercase;
  font-size: 9rem;
  position: absolute;
  top: -4rem;
  right: 8.1rem;
  color: #ebebeb;
  z-index: -1;
  font-weight: var(--bold-fw);
}
.steps__sub {
  font-size: 1.25rem;
  line-height: 1.4;
  margin: auto;
  max-width: 320px;
}
@media (max-width: 1023px) {
  .steps__sub {
    font-size: 1.125rem;
    line-height: 1.2;
  }
}
@media (max-width: 767px) {
  .steps__sub {
    font-size: 0.9rem;
  }
}
@media (max-width: 500px) {
  .steps__sub {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
}

.prod {
  margin-top: 9rem;
  margin-bottom: 12.1rem;
}
@media (max-width: 1150px) {
  .prod {
    margin-top: 6rem;
  }
}
@media (max-width: 767px) {
  .prod {
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
}
.prod__title {
  text-align: center;
  font-weight: var(--regular-fw);
}
@media (max-width: 767px) {
  .prod__title {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
}
.prod__list {
  margin-top: 5rem;
}
@media (max-width: 1150px) {
  .prod__list {
    margin-top: 2rem;
  }
}
@media (max-width: 767px) {
  .prod__list {
    margin-top: 1rem;
  }
}
.prod__item:nth-child(2) {
  position: relative;
}
.prod__item:nth-child(2)::before, .prod__item:nth-child(2)::after {
  content: "";
  position: absolute;
  left: 0;
  top: 6rem;
  display: block;
  width: 1px;
  height: 5rem;
  background-color: var(--primary-clr);
}
@media (max-width: 767px) {
  .prod__item:nth-child(2)::before, .prod__item:nth-child(2)::after {
    display: none;
  }
}
.prod__item:nth-child(2)::after {
  left: unset !important;
  right: 0;
}
.prod__img-wrap {
  width: 100%;
}
.prod__product {
  text-align: center;
}
.prod__heading {
  max-width: 330px;
  margin: 0 auto 1.6rem;
  line-height: 1.3;
  font-size: 1.5rem;
  font-weight: var(--bold-fw);
}
@media (max-width: 1023px) {
  .prod__heading {
    margin: 1rem auto 1.6rem;
    font-size: 1.25rem;
  }
}
@media (max-width: 767px) {
  .prod__heading {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 500px) {
  .prod__heading {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  .prod__sub {
    font-size: 0.9rem;
    line-height: 1.2;
  }
}
@media (max-width: 500px) {
  .prod__sub {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
}

.calc__wrap {
  position: relative;
  margin: auto;
  max-width: 1670px;
  padding: 4.5rem 8.4rem 4rem;
  background: #e1e1e1;
}
@media (max-width: 1023px) {
  .calc__wrap {
    padding: 4.5rem 2.4rem 3rem;
  }
}
@media (max-width: 767px) {
  .calc__wrap {
    padding: 1.5rem 2.4rem 3rem;
  }
}
.calc__star {
  left: 0;
  top: 0;
}
@media (max-width: 767px) {
  .calc__star {
    width: 40px;
  }
}
.calc__lines {
  right: 0;
  max-height: 100% !important;
}
@media (max-width: 767px) {
  .calc__lines {
    display: none;
  }
}
.calc__sova {
  right: 5.1rem;
  top: -5.3rem;
}
@media (max-width: 1023px) {
  .calc__sova {
    right: 0.1rem;
    top: -5.3rem;
  }
}
@media (max-width: 767px) {
  .calc__sova {
    right: 0.1rem;
    top: initial;
    height: 110%;
    bottom: 0;
    right: 2rem;
  }
}
@media (max-width: 500px) {
  .calc__sova {
    top: initial;
    height: unset;
    bottom: 0;
    right: 0rem;
    width: 28%;
  }
}
.calc__cat {
  right: 19rem;
  bottom: -5rem;
  z-index: 2;
}
@media (max-width: 1300px) {
  .calc__cat {
    right: unset;
    bottom: -5rem;
    left: 41rem;
  }
}
@media (max-width: 1023px) {
  .calc__cat {
    right: unset;
    bottom: -9rem;
    left: calc(50% + 0rem);
  }
}
@media (max-width: 767px) {
  .calc__cat {
    right: unset;
    bottom: -3rem;
    left: calc(50% + 1rem);
    height: 90%;
  }
}
@media (max-width: 500px) {
  .calc__cat {
    display: none;
  }
}
.calc__bg {
  bottom: -6.7rem;
  left: 50%;
  bottom: -6.7rem;
  right: unset;
  color: #d9d9d9;
  transform: translateX(-50%);
  z-index: 1;
}
.calc__title {
  font-size: 1.9rem;
  font-weight: var(--bold-fw);
}
@media (max-width: 767px) {
  .calc__title {
    font-size: 1.5rem;
  }
}
.calc__text {
  max-width: 490px;
  position: relative;
}
@media (max-width: 767px) {
  .calc__text {
    max-width: 320px;
    font-size: 1.5rem;
  }
}
.calc__btn {
  font-size: 1.125rem;
  z-index: 2;
}
.calc__btn-wrap {
  margin-top: 5.6rem;
}
@media (max-width: 767px) {
  .calc__btn-wrap {
    margin-top: 1.6rem;
  }
}

.feed-slider {
  padding-top: 7.1rem;
  padding-bottom: 12rem;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
}
.feed-slider .feed-wrap {
  position: relative;
}
.feed-slider__title {
  text-align: center;
}
@media (max-width: 767px) {
  .feed-slider__title {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
}
.feed-slider__slide-content {
  width: 100%;
  display: flex;
}
.feed-slider__text-side {
  width: calc(100% - 350px);
  padding: 5.3rem 12% 0 6rem;
  position: relative;
  margin-top: 2.6rem;
  font-size: 1.125rem;
  line-height: 1.35;
}
@media (max-width: 1023px) {
  .feed-slider__text-side {
    padding: 2.3rem 2% 5rem 3rem;
    min-height: unset;
  }
}
@media (max-width: 767px) {
  .feed-slider__text-side {
    width: 100%;
  }
}
.feed-slider__text-side::before, .feed-slider__text-side::after {
  content: "";
  position: absolute;
  display: block;
}
.feed-slider__text-side::before {
  left: 0;
  top: 0;
  border-top: 0.5rem solid var(--primary-clr);
  width: calc(100% - 8.7rem);
  border-left: 0.5rem solid var(--primary-clr);
  height: calc(100% - 7.7rem);
}
.feed-slider__text-side::after {
  background-image: url(../../img/elements/quot.webp);
  width: 110px;
  height: 87px;
  left: 4rem;
  top: 3rem;
  background-repeat: no-repeat;
}
.feed-slider__img-side {
  min-width: 350px;
  max-width: 350px;
  position: relative;
}
@media (max-width: 767px) {
  .feed-slider__img-side {
    display: none;
  }
}
.feed-slider__img {
  max-width: calc(100% - 4rem);
  max-height: calc(100% - 4rem);
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: 2rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;
}
.feed-slider__arrow {
  left: 0;
  top: 9rem;
}
.feed-slider__btn {
  position: absolute;
  bottom: -3rem;
  left: 5.8rem;
  width: 180px;
  padding: 0.7rem 0;
  margin-top: 5rem;
  border: 2px solid #c5c5c5;
  color: var(--sable-clr);
  font-size: 0.8rem;
  line-height: 1.3;
  cursor: pointer;
  text-align: center;
  transition: 0.5s all ease-in-out;
}
@media (max-width: 767px) {
  .feed-slider__btn {
    width: 120px;
    left: 0;
    margin-top: 0;
    bottom: -1rem;
  }
}
.feed-slider__btn span {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 3.3rem;
  position: relative;
  transition: 0.5s all ease-in-out;
}
@media (max-width: 767px) {
  .feed-slider__btn span {
    display: none;
  }
}
.feed-slider__btn span::before, .feed-slider__btn span::after {
  content: "";
  position: absolute;
  display: block;
  background-image: url(../../img/elements/arrow-scroll.webp);
  width: 47px;
  height: 21px;
  opacity: 0.6;
  top: -0.8rem;
  left: -0.4rem;
}
.feed-slider__btn span::after {
  background-image: url(../../img/elements/arrow-scroll.webp);
  opacity: 0;
  transition: 0.5s all ease-in-out;
}
.feed-slider__btn:hover {
  color: var(--primary-clr);
  border: 2px solid var(--primary-clr);
  text-indent: -3rem;
}
.feed-slider__btn:hover span {
  left: -1.1rem;
}
.feed-slider__btn:hover span::after {
  opacity: 1;
}
.feed-slider__btn:hover span::before {
  opacity: 0;
}
@media (max-width: 767px) {
  .feed-slider__btn:hover {
    text-indent: initial !important;
  }
}
.feed-slider .feed-prev {
  z-index: 2;
}
.feed-slider .feed-next {
  z-index: 1;
  margin-left: 12.5rem;
}
@media (max-width: 767px) {
  .feed-slider .feed-next {
    margin-left: 8.5rem;
  }
}
.feed-slider .feed-next:hover {
  text-indent: 3rem;
}
.feed-slider .feed-next:hover span {
  left: 1.1rem;
}
.feed-slider .feed-next span {
  transform: rotate(180deg);
  top: -0.4rem;
}
.feed-slider .feed-real-slider {
  margin: 0 auto 0;
  max-width: 1130px;
}
.feed-slider .feed__sider {
  bottom: -3rem;
  margin: 0 auto 0;
  max-width: 1130px;
  position: relative;
}
@media (max-width: 1150px) {
  .feed-slider .feed__sider {
    bottom: 0;
  }
}

.footer-form {
  padding-bottom: 11rem;
  margin: 0;
  overflow: hidden;
}
.footer-form__container {
  position: relative;
}
@media (max-width: 1300px) {
  .footer-form {
    padding-bottom: 6vw;
  }
}
.footer-form__title {
  font-size: 1.85rem;
  max-width: 850px;
  margin-top: 0rem;
  line-height: 1.5;
  position: relative;
  font-weight: var(--regular-fw);
}
.footer-form__title::before {
  content: "";
  position: absolute;
  display: block;
  left: -3rem;
  top: 0;
  width: 3px;
  height: 100%;
  background-color: var(--primary-clr);
}
.footer-form__title > em {
  padding: 0 2rem;
}
@media (max-width: 767px) {
  .footer-form__title {
    max-width: 940px;
    font-size: 1.5rem;
    line-height: 1.2;
  }
}
.footer-form__des {
  margin-top: 3.2rem;
  font-size: 1.25rem;
  line-height: 1.4;
}
@media (max-width: 767px) {
  .footer-form__des {
    margin-top: 0;
    font-size: 1rem;
  }
}
@media (max-width: 500px) {
  .footer-form__des {
    margin-bottom: 1.5rem;
  }
}
.footer-form__cycle {
  right: 55rem;
  top: 17rem;
}
@media (max-width: 1300px) {
  .footer-form__cycle {
    right: 48rem;
  }
}
@media (max-width: 1150px) {
  .footer-form__cycle {
    right: 43rem;
  }
}
@media (max-width: 1023px) {
  .footer-form__cycle {
    right: 37rem;
    top: initial;
    width: 60vw;
    bottom: -4rem;
  }
}
@media (max-width: 767px) {
  .footer-form__cycle {
    display: none;
  }
}
.footer-form__star {
  right: -4.1rem;
  top: 1rem;
}
@media (max-width: 500px) {
  .footer-form__star {
    right: -4.1rem;
    top: 15rem;
  }
}
.footer-form__form {
  margin: 0 0 0 auto;
  background-color: #fdfdfd;
  max-width: 500px;
  padding: 2.4rem 3.2rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  z-index: 2;
  position: relative;
}
.footer-form__form::before {
  content: "";
  position: absolute;
  left: -4.8rem;
  top: 4.5rem;
  display: block;
  background-image: url(../../img/elements/arrow2.webp);
  width: 69px;
  height: 38px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}
@media (max-width: 1400px) {
  .footer-form__form {
    max-width: 400px;
    padding: 2.5rem;
  }
}
@media (max-width: 767px) {
  .footer-form__form {
    padding: 1.5rem 1.5rem;
  }
}
@media (max-width: 500px) {
  .footer-form__form {
    margin: 0 auto;
    max-width: 320px;
  }
}
.footer-form__catalog {
  left: -28rem;
  top: 8rem;
}
@media (max-width: 1400px) {
  .footer-form__catalog {
    left: -30vw;
    top: 8rem;
    width: 40vw;
  }
}
@media (max-width: 1300px) {
  .footer-form__catalog {
    left: -27rem;
  }
}
@media (max-width: 1150px) {
  .footer-form__catalog {
    left: -22rem;
  }
}
@media (max-width: 1023px) {
  .footer-form__catalog {
    left: -30vw;
    top: initial;
    width: 40vw;
    bottom: -3rem;
  }
}
@media (max-width: 767px) {
  .footer-form__catalog {
    left: initial;
    top: initial;
    width: 60vw;
    bottom: -4rem;
    max-width: 50vw !important;
    right: 80%;
  }
}
.footer-form__head {
  font-size: 1.6rem;
  margin: 0rem 0 2rem;
  text-align: center;
  line-height: 1.3;
  font-weight: var(--bold-fw);
}
@media (max-width: 767px) {
  .footer-form__head {
    font-size: 1.25rem;
  }
}
.footer-form__send {
  max-width: 270px;
  margin: auto;
}

/*# sourceMappingURL=main.css.map */
